

body{
    background-color: rgb(255, 255, 255);

    .margen_biografia{
        margin-top: 3rem;
    }

    .margen_texto{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .margen_iframe_biografia{
        margin-bottom: 3rem;
    }

    .pie_pagina{
        background-color: aliceblue;
        width: auto;
        height: 100%;
        display: flex;
    }
}